/* Blimey */
@font-face {
  font-family: Blimey;
  src: url('/assets/fonts/blimey.woff');
}
/* Life Roman */
@font-face {
  font-family: LifeRoman;
  src: url('/assets/fonts/liferoman.woff');
}
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: LifeRoman;
  margin: 0;
}
h1 {
  font-family: Blimey;
  font-size: 4vw;
  letter-spacing: 5px;
}
p {
  font-family: LifeRoman;
  font-size: 1.4vw;
  text-align: justify;
}
.block {
  width: 40%;
}
.text-indent {
  text-indent: 2em;
}
.indent {
  padding-left: 10%;
}
.indent-big {
  padding-left: 20%;
}
section div {
  padding: 1em 5em;
}
section img {
  width: 100%;
}
figure {
  margin: 0;
  position: absolute;
}
figcaption {
  font-size: .8vw;
}
/*    colors    */
.light-salmon {
  color: #fbcbbf;
}
.salmon {
  color: #f69991;
}
.light-pink {
  color: #f9cde1;
}
.pink {
  color: #f17db1;
}
.magenta {
  color: #ed0b6f;
}
.light-purple {
  color: #bc9fcb;
}
.purple {
  color: #8d94c9;
}
.light-blue {
  color: #b6e4fa;
}
.blue {
  color: #00aeef;
}
.teal {
  color: #51c2b8;
}
.light-green {
  color: #a8dacb;
}
.green {
  color: #8fca75;
}
.neon-green {
  color: #2cda00;
}
.orange {
  color: #ea6e24;
}
.light-yellow {
  color: #fff68b;
}
.yellow {
  color: #ffe100;
}
.red {
  color: #e41f26;
}
